.button {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    position: relative;
    line-height: 1em;
    background-image: none;
    outline: none;
    overflow: hidden;
    box-shadow: none;
    border: none;
    border-style: none;
    box-sizing: border-box;
    background-color: rgb(64,153,255);
    border: none;
    color: rgb(255,255,255);
    box-shadow: 0 4px 6px 0 rgba(50,50,93,0.11), 0 1px 3px 0 rgba(0,0,0,0.08),inset 0 0 1px 0 rgba(0,0,0,0.06);
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 20px;
    cursor: pointer;
    will-change: transform;
}